# Python 기초

## 개요

본 강의 자료는 [Python 공식 Tutorial](https://docs.python.org/3.7/tutorial/index.html)에 근거하여 만들어졌으며, Python 3.7버전에 해당하는 내용을 담고 있습니다.

또한, 파이썬에서 제공하는 스타일 가이드인 [`PEP-8`](https://www.python.org/dev/peps/pep-0008/) 내용을 반영하였습니다. 

파이썬을 활용하는 다양한 IT기업들은 대내외적으로 본인들의 스타일 가이드를 제공하고 있습니다. 

* [구글 스타일 가이드](https://github.com/google/styleguide/blob/gh-pages/pyguide.md)
* [Tensorflow 스타일 가이드](https://www.tensorflow.org/community/style_guide)

## 식별자

파이썬에서 식별자는 변수, 함수, 모듈, 클래스 등을 식별하는데 사용되는 이름이다. 

* 식별자의 이름은 영문알파벳, \_, 숫자로 구성된다.
* 첫 글자에 숫자가 올 수 없다. 
* 대소문자를 구별한다.
* 아래의 예약어는 사용할 수 없다. 

```
False, None, True, and, as, assert, break, class, continue, def, del, elif, else, except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with, yield
```

In [ ]:
# 식별자들을 직접 확인해봅시다.
import keyword
type(keyword.kwlist)

if "class" in keyword.kwlist:
    print("yes")
else:
    print("no")

*  내장함수나 모듈 등의 이름으로도 만들면 안된다.

In [ ]:
# 5를 string으로 바꿔봅시다.
str(5)

In [5]:
# 예시로 str에 값을 할당해보고, 오류를 확인해봅시다.
str = "hello"
# str(6)

'6'

In [4]:
# 뒤에 코드에 영향이 가니까 변수를 메모리에서 지워줍시다!!!!
del str

## 기초 문법

### 인코딩 선언

인코딩은 선언하지 않더라도 `UTF-8`로 기본 설정이 되어 있다. 

만약, 인코딩을 설정하려면 코드 상단에 아래와 같이 선언한다. 
주석으로 보이지만, Python `parser`에 의해 읽혀진다.

```python
# -*- coding: <encoding-name> -*- 
```

### 주석(Comment)

* 주석은 `#`으로 표현한다. 
* `docstring`은 `"""`으로 표현한다. 
   
   : 여러 줄의 주석을 작성할 수 있으며, 보통 함수/클래스 선언 다음에 해당하는 설명을 위해 활용한다.
   
  
* 예시 : flask 공식 문서 일부 발췌

![flask 공식문서 예시](./images/01/docstring.png)

In [ ]:
# 주석을 연습해봅시다.

In [8]:
# docstring은 다음과 같이 확인할 수 있습니다.
def mysum(a,b):
    """이것은 덧셈 함수입니다.
    이 줄은 실행이 되지 않습니다.
    docstring을 쓰는 이유는 __doc__
    특정 함수에 대해 설명을 넣을 때 사용한다.
    """
    return a + b

mysum.__doc__
# mysum(2,5)

'이것은 덧셈 함수입니다.\n    이 줄은 실행이 되지 않습니다.\n    docstring을 쓰는 이유는 __doc__\n    '

### 코드 라인
* 기본적으로 파이썬에서는 `;` 을 작성하지 않는다.

* 한 줄로 표기할 떄는 `;`를 작성하여 표기할 수 있다.

In [9]:
# print문을 두번 써보자.
print("happy")
print("writing")

happy
writing

In [10]:
# print문을 한줄로 이어서 써봅시다. 오류 메시지를 확인해주세요.
print("happy")print("writing")
# SyntaxError 문법적 에러

SyntaxError: invalid syntax (<ipython-input-10-121f60be3ac5>, line 2)

In [11]:
# ;을 통해 오류를 해결해봅시다.
print("happy"); print("writing")

happy
writing

* 줄을 여러줄 작성할 때는 역슬래시`\`를 사용하여 아래와 같이 할 수 있다.

In [12]:
# print문을 통해 안되는 코드 예시 작성해봅시다.
print("
      파이썬은 쉽다
      파이썬은 강력하다
      ")
      # 파이썬은 기본적으로 enter를 치면 코드가 끝났다고 인식함
      # string이 시작되었다가 끝났다고 나온다는 에러

SyntaxError: EOL while scanning string literal (<ipython-input-12-c0321230059e>, line 2)

In [13]:
# print문을 통해 되는 코드 예시 작성해봅시다.
print("\
      파이썬은 쉽다\
      파이썬은 강력하다\
      ")

      파이썬은 쉽다      파이썬은 강력하다

* `[]` `{}` `()`는 `\` 없이도 가능하다.

In [16]:
# list를 두 줄에 걸쳐서 만들어봅시다.
menu = ["짬뽕",
      "햄버거",
      "닭도리탕",
       "부대찌개"]
matjip = {
    "백짬뽕":"베이징코야",
    "햄버거":"바스버거",
    "닭도리탕":"고갯마루",
    "부대찌개":"대우식당",
    "돼지고기":"백운봉 막국수"
}

# 변수(variable) 및 자료형


<center><img src="./images/01/variable.png", alt="variable"/></center>


<center><img src="./images/01/box.png", alt="box"/></center>

* 변수는 `=`을 통해 할당(assignment) 된다. 

* 해당 자료형을 확인하기 위해서는 `type()`을 활용한다.

* 해당 변수의 메모리 주소를 확인하기 위해서는 `id()`를 활용한다.

In [17]:
# 변수에 값을 할당해 봅시다.
x = "ssafy"

In [18]:
# type()을 사용해 봅시다.
type(x)

str

In [19]:
# id()를 사용해 봅시다.
id(x)

2062000306304

* 같은 값을 동시에 할당할 수 있다.

In [22]:
# 같은 값을 동시에 할당해봅시다.
y = z = 1004
print(y,z)
print(id(y))
print(id(z))

1004 1004
2061999620208
2061999620208

* 다른 값을 동시에 할당 가능하다.

In [24]:
# 동시에 두개의 변수에 값 두개를 할당해봅시다.
name, age = "john", 34
print(name,age)

john 34

In [25]:
# 변수의 개수가 더 많을 때 오류를 알아봅시다.
x, y = 1

TypeError: cannot unpack non-iterable int object

In [29]:
# 변수의 개수가 더 적을 때 오류를 알아봅시다.
a, b = 1, 2, 3

ValueError: too many values to unpack (expected 2)

* 이를 활용하면 서로 값을 바꾸고 싶은 경우 아래와 같이 활용 가능하다.

In [31]:
# 변수 x와 y의 값을 바꿔봅시다.
x, y = 5, 10
# print(x,y)
# temp = 0
# temp = x
# x = y
# y = temp
# print(x,y)
x,y = y,temp
x,y

(10, 5)

## 수치형(Numbers)

###  `int` (정수)

모든 정수는 `int`로 표현된다.

파이썬 3.x 버전에서는 `long` 타입은 없고 모두 `int` 형으로 표기 된다.

10진수가 아닌 8진수 : `0o`/2진수 : `0b` /16진수: `0x`로도 표현 가능하다.

In [33]:
# 변수에 정수를 넣고 해당 변수의 type을 알아봅시다.
a = 3
type(a)
type(3.5)

float

In [ ]:
# python 3.x에서 long은 없어졌습니다.
# 보통 프로그래밍 언어 및 파이썬 2.x에서의 long은 OS 기준 32/64비트이다.
# 파이썬 3.x에서는 모두 int로 통합되었다.

### 오버플로우(overflow)
- 데이터 타입 별로 사용할 수 있는 메모리의 크기가 제한되어 있다.
- 표현할 수 있는 수의 범위를 넘어가는 연산을 하게 되면, 기대했던 값이 출력되지 않는 현상, 즉 메모리가 차고 넘쳐 흐르는 현상

### arbitrary-precision arithmetic
- 파이썬에서 아주 큰 정수를 표현할 때 사용하는 메모리의 크기 변화
- 사용할 수 있는 메모리양이 정해져 있는 기존의 방식과 달리, 현재 남아있는 만큼의 가용 메모리를 모두 수 표현에 끌어다 쓸 수 있는 형태.
- 특정 값을 나타내는데 4바이트가 부족하다면 5바이트, 더 부족하면 6바이트까지 사용 할 수 있게 유동적으로 운용.

In [37]:
# 파이썬에서 가장 큰 숫자를 활용하기 위해 sys 모듈을 불러옵니다.
# 파이썬은 기존 C 계열 프로그래밍 언어와 다르게 정수 자료형에서 오버플로우가 없다.
# arbitrary-precision arithmetic를 사용하기 때문이다. 
import sys
max_int = sys.maxsize
print(max_int)
big_num = max_int * max_int # arbitrary-precision arithmetic
print(big_num)
big_num * big_num

9223372036854775807
85070591730234615847396907784232501249

7237005577332262210834635695349653859421902880380109739573089701262786560001

In [40]:
# n진수를 만들어보고, 출력 해봅시다.
binary_num = 0b10
print(binary_num)
octal_num = 0o10
print(octal_num)
hex_num = 0x10
print(hex_num)

2
8
16

### `float`(부동소수점, 실수)

실수는 `float`로 표현된다. 

다만, 실수를 컴퓨터가 표현하는 과정에서 부동소수점을 사용하며, **항상 같은 값으로 일치되지 않는다. (floating point rounding error)**

이는 컴퓨터가 2진수(비트)를 통해 숫자를 표현하는 과정에서 생기는 오류이며, 대부분의 경우는 중요하지 않으나 값을 같은지 비교하는 과정에서 문제가 발생할 수 있다.

In [41]:
# 변수에 실수를 넣고 해당 변수의 type을 알아봅시다.
a = 3.5
print(a)

3.5

In [46]:
# e를 사용할 수도 있습니다.
b = 314e-2
print(b)
type(b)

3.14

float

* 실수의 경우 실제로 값을 처리하기 위해서는 조심할 필요가 있다.

In [47]:
# 실수의 덧셈을 해봅시다.
3.5+3.5

7.0

In [50]:
# 실수의 뺄셈을 해봅시다.
3.5-3.15

0.3500000000000001

In [52]:
# 우리가 원하는대로 반올림을 해봅시다.
round(3.5-1.15,2)

2.35

In [56]:
# 두 개의 값이 같은지 확인해봅시다.

(3.5 - 3.15) == 0.35

False

* 따라서 다음과 같은 방법으로 처리 할 수 있다. 이외에 다양한 방법이 있음

In [57]:
# 기본적인 처리방법을 알아봅시다.
a = 3.5 - 3.15
b = 0.35
## 초근삿값 비교
abs(a - b) <= 1e-10

True

In [58]:
# sys 모듈을 통해 처리하는 방법을 알아봅시다.
import sys
abs(a-b) <= sys.float_info.epsilon

True

In [59]:
# python 3.5부터 활용 가능한 math 모듈을 통해 처리하는 법을 알아봅시다.
import math
math.isclose(a,b)

True

### `complex` (복소수)

복소수는 허수부를 `j`로 표현한다.

In [60]:
# 변수에 복소수를 넣고 해당 변수의 type을 알아봅시다.
a = 3 - 2j
type(a)

complex

In [62]:
# 복소수와 관련된 메소드들을 확인해봅시다.
print(a.imag) # 허수부
a.real # 실수부

-2.0

3.0

## Bool

파이썬에는 `True`와 `False`로 이뤄진 `bool` 타입이 있다.

비교/논리 연산을 수행 등에서 활용된다.

다음은 `False`로 변환됩니다.
```
0, 0.0, (), [], {}, '', None
```

In [ ]:
# True와 False의 타입들을 알아봅시다.
true = True

* 형변환(Type Conversion)에서 추가적으로 다루는 내용입니다.

In [69]:
# 다양한 True, False 상황들을 확인해봅시다.
print(type(True))
print(type(False))
bool(None)
bool([])
bool({})
bool("")
bool(())
bool("1")

<class 'bool'>
<class 'bool'>

True

## None

파이썬에서는 값이 없음을 표현하기 위해 `None`타입이 존재합니다.

In [74]:
# None의 타입을 알아봅시다.
print(print())
print(sorted([5,4,3,2,1]))
## 함수가 아무것도 return하지 않는 경우 None을 자주 보게 된다.

None
[1, 2, 3, 4, 5]

In [ ]:
# 변수에 저장해서 확인해봅시다.

## 문자형(String)

### 기본 활용법

* 문자열은 Single quotes(`'`)나 Double quotes(`"`)을 활용하여 표현 가능하다. 

* 단, 문자열을 묶을 때 동일한 문장부호를 활용해야하며, `PEP-8`에서는 **하나의 문장부호를 선택**하여 유지하도록 하고 있습니다. 
(Pick a rule and Stick to it)

In [80]:
# 변수에 문자열을 넣고 출력해봅시다.
pro_saying = '김지수 프로님은 얘기했다. "오늘은 종례가 없을거에요"'
name = "이현빈"
print(name,pro_saying)

이현빈 김지수 프로님은 얘기했다. "오늘은 종례가 없을거에요"

In [81]:
# 사용자에게 받은 입력은 기본적으로 str입니다
age = input()
print(age)

34
34

* 다만 문자열 안에 문장부호(`'`, `"`)가 활용될 경우 이스케이프 문자(`\`)를 사용하는 것 대신 활용 가능 합니다.

In [82]:
# 문자열 안에 문장부호를 활용해서 오류를 확인해봅시다.
print('철수가 말했다. "안녕"')

철수가 말했다. "안녕"

In [84]:
# 오류를 이스케이프 문자와 서로 다른 문장부호를 통해 해결해봅시다.
print('철수가 말했다. \'안녕\'')

철수가 말했다. '안녕'

* 여러줄에 걸쳐있는 문장은 다음과 같이 표현 가능합니다.

`PEP-8`에 따르면 이 경우에는 반드시 `"""`를 사용하도록 되어 있습니다.

In [87]:
# 여러줄을 출력해봅시다.
print('여러줄에\
걸쳐서\
출력하기')
print("""여러줄에
걸쳐서
출력하기""")

여러줄에걸쳐서출력하기
여러줄에
걸쳐서
출력하기

In [92]:
# 물론 string interpolation도 가능합니다.
## 1. concatenation 합체

greeting = "안녕하세요, " + "저는 " + "john입니다."
print(greeting)

## 2. interpolation(보간법) 수술
name = "john"
greeting2 = f"안녕하세요, 저는 {name}입니다."
print(greeting2)

안녕하세요, 저는 john입니다.
안녕하세요, 저는 john입니다.

### 이스케이프 문자열

문자열을 활용하는 경우 특수문자 혹은 조작을 하기 위하여 사용되는 것으로 `\`를 활용하여 이를 구분한다. 

|<center>예약문자</center>|내용(의미)|
|:--------:|:--------:|
|\n|줄바꿈|
|\t|탭|
|\r|캐리지리턴|
|\0|널(Null)|
|`\\`|`\`|
|\'|단일인용부호(')|
|\"|이중인용부호(")|

In [97]:
# 이스케이프 문자열을 조합하여 프린트해봅시다.
print('SSAFY는\\최고의')

SSAFY는\최고의

* 이를 출력할 때 활용할 수가 있다.

In [104]:
# print를 하는 과정에서도 이스케이프 문자열을 활용 가능합니다.
print('내용을 띄워서 출력하고 싶으면',end=' ')
print('이렇게 하시면 돼요')

내용을 띄워서 출력하고 싶으면 이렇게 하시면 돼요

In [105]:
# 물론, end 옵션은 이스케이프 문자열이 아닌 다른 것도 가능합니다.
print('위와 같은 개행문자 말고도')
print('다양한 문자를 넣을 수 있습니다.')
print('예를 들어 느낌표, 물음표 등등',end='?!')

위와 같은 개행문자 말고도
다양한 문자를 넣을 수 있습니다.
예를 들어 느낌표, 물음표 등등?!

### String interpolation 

1) `%-formatting` 

2) [`str.format()` ](https://pyformat.info/)

3) [`f-strings`](https://www.python.org/dev/peps/pep-0498/) : 파이썬 3.6 버전 이후에 지원 되는 사항입니다.

`.format()`는 해당 [링크](https://pyformat.info/)에서 확인바랍니다.

In [109]:
# name 변수에 이름을 입력해봅시다.
name = '이현빈'
age = 27
address = 'ho'
major = 'stat'

In [110]:
# %-formatting을 활용해봅시다.
'Hello, %s %d %s %s'%(name,age,address,major)

'Hello, 이현빈 27 ho stat'

In [111]:
# str.format()을 활용해봅시다.
'Hello, {0} {1} {2} {3}'.format(name,age,address,major)

'Hello, 이현빈 27 ho stat'

In [113]:
# f-string을 활용해봅시다.
f'Hello, {name} {age} {address} {major}'

'Hello, 이현빈 27 ho stat'

* f-strings에서는 형식을 지정할 수 있으며,

In [ ]:
# 다양한 형식을 활용하기 위해 datetime 모듈로 오늘을 표현해봅시다.

In [118]:
import datetime
today = datetime.datetime.now()
print(today)

# 오늘은 xxxx년 xx월 xx일 Monday
year = datetime.datetime.now().year
month = datetime.datetime.now().month
day = datetime.datetime.now().day
weekday = datetime.datetime.now().weekday()
f'오늘은 {year}년 {month}월 {day}일 {weekday}'
f'오늘은 {today:%y}년 {today:%m}월 {today:%d}일 {today:%A}'

2019-07-15 14:21:57.599992

'오늘은 19년 07월 15일 Monday'

* 연산과 출력형식 지정도 가능합니다.

In [121]:
# string interpolation에서 연산과 숫자 출력형식을 지정해봅시다.
pi = 3.141592
radius = 2
area = pi*radius*radius
f'원주율이 {pi}일 때, 반지름이 {radius}인 원의 넓이는 {area}다.'
f'원주율이 {pi}일 때, 반지름이 {radius}인 원의 넓이는 {radius**2*pi}다.'

'원주율이 3.141592일 때, 반지름이 2인 원의 넓이는 12.566368다.'

# 연산자

## 산술 연산자
Python에서는 기본적인 사칙연산이 가능합니다. 

|연산자|내용|
|----|---|
|+|덧셈|
|-|뺄셈|
|\*|곱셈|
|/|나눗셈|
|//|몫|
|%|나머지(modulo)|
|\*\*|거듭제곱|

In [124]:
# 2의 1000승을 확인해봅시다.
2 ** 1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [125]:
# 나눗셈과 관련된 산술연산자를 활용해봅시다.
5 / 2

2.5

In [130]:
# divmod는 나눗셈과 관련된 함수입니다.
quotient, remainder = divmod(5,2)
print(quotient,remainder)

2 1

* 양수/음수도 표현 가능합니다.

In [132]:
# 음수 양수 표현도 해봅시다.
pos = 4
print(-pos)
neg = -4
print(-neg)

-4
4

## 비교 연산자

우리가 수학에서 배운 연산자와 동일하게 값을 비교할 수 있습니다.

|연산자|내용|
|----|---|
|a > b|초과|
|a < b|미만|
|a >= b|이상|
|a <= b|이하|
|a == b|같음|
|a != b|같지않음|

In [137]:
# 숫자의 대소관계를 비교해봅시다.
3 > 6
1 == 1
2 != 3
4 <= 9
3.0 == 3

True

In [ ]:
# 같은 숫자인지 확인해봅시다.

In [ ]:
# 다른 숫자인지 확인해봅시다.

In [139]:
# 문자열도 같은지 확인해봅시다.
'HI' == 'hi'
'akak' == 'akak'

True

## 논리 연산자

|연산자|내용|
|---|---|
|a and b|a와 b 모두 True시만 True|
|a or b|a 와 b 모두 False시만 False|
|not a|True -> False, False -> True|

우리가 보통 알고 있는 `&` `|`은 파이썬에서 비트 연산자이다.

In [140]:
# and과 관련해서 모든 case를 출력해봅시다.
print(True and True)
print(True & True)
print(True and False)
print(True & False)

True
True
False
False

In [141]:
# or과 관련해서 모든 case를 출력해봅시다.
print(True or True)
print(True or False)
print(False or False)
print(False or True)

True
True
False
True

In [144]:
# not을 활용해봅시다.
print(not False)
print(not 0)

True
True

* 파이썬에서 and는 a가 거짓이면 a를 리턴하고, 참이면 b를 리턴한다.
* 파이썬에서 or은 a가 참이면 a를 리턴하고, 거짓이면 b를 리턴한다.

In [149]:
# and의 단축평가(short-circuit evaluation)에 대해서 알아봅시다.
print(3 and 5)
print(3 and 0)
print(0 and 3)
print(5 and 0)
print(0 and 0)

5
0
0
0
0

In [154]:
# or의 단축평가(short-circuit evaluation)에 대해서 알아봅시다.
print(3 or 5)
print(0 or 5)
print(0 or 3)
print(True or 2)

3
5
3
True

## 복합 연산자

복합 연산자는 연산과 대입이 함께 이뤄진다. 

가장 많이 활용되는 경우는 반복문을 통해서 개수를 카운트하거나 할 때 활용된다.

|연산자|내용|
|----|---|
|a += b|a = a + b|
|a -= b|a = a - b|
|a \*= b|a = a \* b|
|a /= b|a = a / b|
|a //= b|a = a // b|
|a %= b|a = a % b|
|a \*\*= b|a = a ** b|

In [157]:
# 복합연산자는 이럴 때 사용됩니다.
cnt = 0
while(cnt < 5):
    cnt += 1
    print(cnt)

1
2
3
4
5

## 기타 연산자

### Concatenation

숫자가 아닌 자료형은 `+` 연산자를 통해 합칠 수 있다.

### Containment Test

`in` 연산자를 통해 속해있는지 여부를 확인할 수 있다.

### Identity

`is` 연산자를 통해 동일한 object인지 확인할 수 있다. 


(나중에 Class를 배우고 다시 학습)

### Indexing/Slicing
`[]`를 통한 값 접근 및 `[:]`을 통한 슬라이싱 

(다음 챕터를 배우면서 추가 학습)

In [161]:
# 문자열끼리 더해봅시다.(합쳐봅시다.)
'a' + 'b'
'ssafy' + 'fire'
'123' + '456'

'123456'

In [163]:
# list끼리 더해봅시다.(합쳐봅시다.)
[1,2,3] + [4,5,6]
# dict + dict는 안됨
(1,2,3) + (4,5,6)

(1, 2, 3, 4, 5, 6)

In [164]:
# 문자열안에 특정한 문자가 있는지 확인해봅시다.
'a' in 'ssafy'

True

In [165]:
# list안에 특정한 원소가 있는지 확인해봅시다.
0 in [1,2,3,4,5]

False

In [166]:
# range안에 특정한 원소가 있는지 확인해봅시다.
5 in range(1,10)

True

In [180]:
# is는 맛만 봅시다.
# 파이썬에서 -5부터 256까지의 id는 언제 어디서 써도 동일합니다. 257부터는 생길때마다 다른 값이 부여됨
print(id(-5))
print(id(256))
id(-5) is id(256)
print(id(-5))
print(id(-5))
-5 is -5
print(id('hi'))
print(id('hi'))
id('hi') is id('hi') # id함수가 반환한 숫자가 -5 ~ 256 사이의 값이 아니기 때문에 다르다고 인식
'hi' is 'hi'

140730205168080
140730205176432
140730205168080
140730205168080
2061961653696
2061961653696

True

In [184]:
# id는 다르죠!
a = 257
b = 257
a is b
a = 255
b = 255
print(a is b)
c = 257
d = 257
c is d

True

False

In [ ]:
# 문자열을 인덱싱을 통해 값에 접근해봅시다.

## 연산자 우선순위

0. `()`을 통한 grouping

1. Slicing

2. Indexing

3. 제곱연산자
    \*\*

4. 단항연산자 
    +, - (음수/양수 부호)

5. 산술연산자
    \*, /, %
    
6. 산술연산자
    +, -
 
7. 비교연산자, `in`, `is`

8. `not`

9. `and` 

10. `or`

In [189]:
# 우선순위를 확인해봅시다.
-3 ** 4
(-3) ** 4

81

# 기초 형변환(Type conversion, Typecasting)


파이썬에서 데이터타입은 서로 변환할 수 있다.

## 암시적 형변환(Implicit Type Conversion)
사용자가 의도하지 않았지만, 파이썬 내부적으로 자동으로 형변환 하는 경우이다.
아래의 상황에서만 가능하다.
* bool
* Numbers (int, float, complex)

In [191]:
# boolean과 integer는 더할 수 있을까요?
True + 3
False + 3

3

In [195]:
# int, float, complex를 각각 변수에 대입해봅시다.
int_num = 3
float_num = 5.0
complex_num = 3 + 5j

In [196]:
# int와 float를 더해봅시다. 그 결과의 type은 무엇일까요?
type(int_num + float_num)

float

In [197]:
# int와 complex를 더해봅시다. 그 결과의 type은 무엇일까요?
type(int_num + complex_num)

complex

## 명시적 형변환(Explicit Type Conversion)

위의 상황을 제외하고는 모두 명시적으로 형 변환을 해주어야한다.

* string -> intger  : 형식에 맞는 숫자만 가능
* integer -> string : 모두 가능

암시적 형변환이 되는 모든 경우도 명시적으로 형변환이 가능하다.

* `int()` : string, float를 int로 변환
* `float()` : string, int를 float로 변환
* `str()` : int, float, list, tuple, dictionary를 문자열로 변환

`list(), tuple()` 등은 다음 챕터에서 배울 예정이다.

In [199]:
# integer와 string 사이의 관계는 명시적으로 형변환을 해줘야만 합니다.
'1' + '등'

'1등'

In [201]:
# string 3을 integer로 변환해봅시다.
print('3')
int('3')

3

3

In [202]:
# string 3.5를 float로 변환해봅시다.
float('3.5')

3.5

In [203]:
# string은 글씨가 숫자일때만 형변환이 가능합니다.
int('aa')

ValueError: invalid literal for int() with base 10: 'aa'

In [204]:
# string 3.5를 int로 변환할 수는 없습니다.
int('3.5')

ValueError: invalid literal for int() with base 10: '3.5'

In [208]:
# float 3.5는 int로 변환이 가능합니다.
int(3.5)
ord('a') # ord 아스키코드에 대응하는 값 나옴

'0x10'

# 시퀀스(sequence) 자료형

`시퀀스`는 데이터의 순서대로 나열된 형식을 나타낸다. 

**주의! 순서대로 나열된 것이 정렬되었다라는 뜻은 아니다.**

파이썬에서 기본적인 시퀀스 타입은 다음과 같다.

1. 리스트(list)

2. 튜플(tuple)

3. 레인지(range)

4. 문자열(string)

5. 바이너리(binary) : 따로 다루지는 않습니다.


## `list`

<center><img src="./images/01/list.png", alt="list figure"/></center>

**활용법**
```python
[value1, value2, value3]
```

리스트는 대괄호`[]` 를 통해 만들 수 있습니다.

값에 대한 접근은 `list[i]`를 통해 합니다.

In [209]:
# 빈 리스트를 만들어봅시다.
empty_list = []

In [210]:
# 원소를 포함한 리스트를 만들어봅시다.
lst = [1,2,3,4,5,6]

In [211]:
# 첫번째 값에 접근해봅시다.
lst[0]

1

## `tuple`

**활용법**
```python
(value1, value2)
```

튜플은 리스트와 유사하지만, `()`로 묶어서 표현합니다.

그리고 tuple은 **수정 불가능(immutable)하고**, 읽을 수 밖에 없습니다.

직접 사용하는 것보다는 파이썬 내부에서 사용하고 있습니다.

In [212]:
# tuple을 만들어봅시다.
(1,2)

(1, 2)

In [218]:
# 아래와 같이 만들 수 있습니다.
x = 5
y = 10
x, y = y, x
print(x,y)

10 5

In [ ]:
# 파이썬 내부에서는 다음과 같이 활용됩니다.
# 앞선 2. 변수 및 자료형 예제에서 사용된 코드입니다.

In [ ]:
# 실제로는 tuple로 처리됩니다.

In [ ]:
# 변수의 값을 swap하는 코드 역시 tuple을 활용하고 있습니다.

##  `range()`

레인지는 숫자의 시퀀스를 나타내기 위해 사용됩니다.

기본형 : `range(n)` 


> 0부터 n-1까지 값을 가짐


범위 지정 : `range(n, m)` 

> n부터 m-1까지 값을 가짐

범위 및 스텝 지정 : `range(n, m, s)`

> n부터 m-1까지 +s만큼 증가한다

In [228]:
# range를 만들어봅시다.
r = range(1,10)
l = [1,2,3,4,5,6,7,8,9]

for x in r:
    print(x)
for y in l:
    print(y)
    
list(r) == l

1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9

False

In [229]:
# range에 담긴 값을 list로 바꿔서 확인해봅시다.
list(r)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [231]:
# 4 ~ 8까지의 숫자를 담은 range를 만들어봅시다.
list(range(4,9))

[4, 5, 6, 7, 8]

In [233]:
# 0부터 -9까지 담긴 range를 만들어봅시다.
list(range(0,-10,-1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]


## 시퀀스에서 활용할 수 있는 연산자/함수 

|operation|설명|
|---------|---|
|x in s	|containment test|
|x not in s|containment test|
|s1 + s2|concatenation|
|s * n|n번만큼 반복하여 더하기
|s[i]|indexing|
|s[i:j]|slicing|
|s[i:j:k]|k간격으로 slicing|
|len(s)|길이|
|min(s)|최솟값|
|max(s)|최댓값|
|s.count(x)|x의 개수|

In [237]:
# contain test를 확인해봅시다.
l = [1,2,3,4,5]
3 in l
3 not in l

False

In [241]:
# concatenation를 해봅시다.
l + l
# range(1,5) + range(5,10)
(1,2,3,4,5) + (6,7,8,9)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [239]:
# 숫자 0이 6개 있는 list를 만들어봅시다.
l = [0]
l*6

[0, 0, 0, 0, 0, 0]

In [242]:
# indexing과 slicing을 하기 위해 list하나를 만들어주세요.
lst = [1,2,3,4,5,6,7,8,9]

In [260]:
# 두번쨰, 세번쨰 값만 가져와봅시다.
lst[1:3]
lst[::-1]
pal = "racecar"
pal == pal[::-1]

True

In [266]:
# 0부터 30까지의 숫자를 3씩 증가시킨 상태로 만들어봅시다.
lst = list(range(0,31,3))
lst

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [267]:
# 위에서 만든 list의 길이를 확인해봅시다.
len(lst)

11

In [272]:
# 위에서 만든 list의 최솟값, 최댓값을 확인해봅시다.
max(lst)
min(lst)

0

In [273]:
# list에 담긴 특정한 것의 개수를 확인할 수도 있습니다.
lst.count(3)

1

# set, dictionary

* `set`과 `dictionary`는 기본적으로 순서가 없습니다.

## `set`

세트는 수학에서의 집합과 동일하게 처리됩니다. 

세트는 중괄호`{}`를 통해 만들며, 순서가 없고 **중복된 값이 없습니다.**

**활용법**
```python
{value1, value2, value3}
```

|연산자/함수|설명|
|---|---|
|a - b|차집합|
|a \| b|합집합|
|a & b|교집합|
|a.difference(b)|차집합|
|a.union(b)|합집합|
|a.intersection(b)|교집합|

In [276]:
# set 두개를 만들어서 연산자들을 활용해봅시다.
set_A = {1,2,3}
set_B = {3,6,9}

set_A - set_B
set_A | set_B
set_A & set_B

{3}

In [277]:
# set은 중복된 값이 있을 수 없습니다.
set_c = {1,1,1,1,1,1,1,1,1}
set_c

{1}

* `set`을 활용하면 `list`의 중복된 값을 손쉽게 제거할 수 있습니다.

In [279]:
# set으로 중복된 값을 제거해봅시다.
lst = [1,1,2,2,2,3,3,3,4,4,5,5]
set_d = set(lst)

In [280]:
# 다시 list로 바꿔서 확인해봅시다.
list(set_d)

[1, 2, 3, 4, 5]

## `dictionary`

<center><img src="./images/01/dictionary.png"/></center>

**활용법**
```python
{Key1:Value1, Key2:Value2, Key3:Value3, ...}
```

* 딕셔너리는 `key`와 `value`가 쌍으로 이뤄져있으며, 궁극의 자료구조입니다. 
* `{}`를 통해 만들며, `dict()`로 만들 수도 있습니다.
* `key`는 immutable한 모든 것이 가능하다. (불변값 : string, integer, float, boolean, tuple, range)
* `value`는 `list`, `dictionary`를 포함한 모든 것이 가능하다.

In [282]:
# 비어있는 dictionary를 두가지 방법으로 만들어봅시다.
dict_a={}
dict_b={}
print(dict_a)
print(dict_b)
print(type(dict_a))

{}
{}
<class 'dict'>

In [284]:
# 지역번호(서울-02 경기-031 인천-032)가 담긴 전화번호부를 만들어봅시다.
dict_a["서울"] = '02'
dict_a["경기"] = '031'
dict_a["인천"] = '032'
dict_a

{'서울': '02', '경기': '031', '인천': '032'}

In [285]:
# dictionary는 중복된 key는 존재할 수가 없습니다.
dict_a["서울"] = 2
dict_a

{'서울': 2, '경기': '031', '인천': '032'}

In [286]:
# 딕셔너리의 메소드를 활용하여 key를 확인 해볼 수 있습니다.
dict_a.keys()

dict_keys(['서울', '경기', '인천'])

In [287]:
# 딕셔너리의 메소드를 활용하여 value를 확인 해볼 수 있습니다.
dict_a.values()

dict_values([2, '031', '032'])

# 정리
## 데이터 타입
<center><img src="./images/01/container.png", alt="container"/></center>