# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [1]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [7]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.
'3'.isdigit() # isdigit() 숫잔지 문잔지 판단해서 True/False 반환
'hello'.isdigit()

print(a.capitalize()) # 맨 앞의 문자만 대문자로 만들고 나머지 소문자로
a
a.title()
a.upper()

Hi! everyone, i'm kim

"HI! EVERYONE, I'M KIM"

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대 ↔ 소문자로 변경하여 반환합니다.

In [8]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.
a.swapcase()

"Hi! eVERYONE, i'M KIM"

### `.join(iterable)`

**Iterable 을 해당 문자열을 separator 로 합쳐서 문자열로 반환합니다.**

In [122]:
# 아래에 코드를 작성하세요.
# split method와 주로 같이 쓰인다.
a = 'this is awesome'.split(' ')
b = ' '.join(a)
print(' '.join(a)) # ' '이 delimeter 역할을 한다.
print(''.join(a))

['this', 'is', 'awesome']
this is awesome
thisisawesome

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [16]:
# 아래에 코드를 작성하세요.
b.replace('i','e')

'thes es awesome'

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [20]:
# 아래에 코드를 작성하세요.
c = 'this is strip.\n'
print(c) # \n,\t,' ' 제거하거나 공백을 제거할 때 많이 사용
print(c.strip())

this is strip.

this is strip.

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [21]:
# 아래에 코드를 작성하세요.
'ssafy'.find('f') # 같은 글자가 있으면 첫번째 글자 위치를 반환

3

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [26]:
# 아래에 코드를 작성하세요.
'ssafy'.index('a')

2

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

## 다양한 확인 메소드 : 참/거짓 반환
```
.isaplha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .issuper(), .istitle(), .islower()
```

```python
dir('string')
```

In [27]:
'A'.islower()

False

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [33]:
# 카페 리스트를 만들어봅시다.
caffe = ['starbucks', 'tomntoms', 'hollys']
print(caffe)

['starbucks', 'tomntoms', 'hollys']

In [29]:
# 값을 추가해봅시다.
caffe.append('w cafe')

In [38]:
# 어렵게 넣어보도록 해봅시다.
caffe += ['bana presso']
print(caffe)

caffe[len(caffe):] = ['ediya']
caffe

['starbucks', 'tomntoms', 'hollys', 'bana presso', 'w cafe', 'w cafe', 'bana presso']

['starbucks',
 'tomntoms',
 'hollys',
 'bana presso',
 'w cafe',
 'w cafe',
 'bana presso',
 'ediya']

### `.extend(iterable)`

**리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.**

In [37]:
# 앞서 만든 리스트에 추가해봅시다. 요소를 넣는다기보다 리스트를 붙인다는 개념
caffe.extend(['w cafe'])
caffe

['starbucks', 'tomntoms', 'hollys', 'bana presso', 'w cafe', 'w cafe']

In [41]:
# 앞서 배운 list concatenate와 동일합니다.
caffe += ['baek']
caffe

['starbucks',
 'tomntoms',
 'hollys',
 'bana presso',
 'w cafe',
 'w cafe',
 'bana presso',
 'ediya',
 'baek',
 'baek']

In [ ]:
# append와 비교해봅시다.
caffe.append('')
caffe.extend([''])

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [42]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.
caffe.insert(0,'starbucks')

In [43]:
print(caffe)

['starbucks', 'starbucks', 'tomntoms', 'hollys', 'bana presso', 'w cafe', 'w cafe', 'bana presso', 'ediya', 'baek', 'baek']

In [45]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다
caffe.insert(len(caffe), 'bye')
print(caffe)

['starbucks', 'starbucks', 'tomntoms', 'hollys', 'bana presso', 'w cafe', 'w cafe', 'bana presso', 'ediya', 'baek', 'bye', 'baek', 'bye']

In [47]:
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.
caffe.insert(len(caffe)+10000, 'goodbye')
caffe

['starbucks',
 'starbucks',
 'tomntoms',
 'hollys',
 'bana presso',
 'w cafe',
 'w cafe',
 'bana presso',
 'ediya',
 'baek',
 'bye',
 'baek',
 'bye',
 'goodbye',
 'goodbye']

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [49]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]
print(numbers)

[1, 2, 3, 1, 2]

In [50]:
# 중복된 값 1을 삭제 해봅시다.
numbers.remove(1)
numbers

[2, 3, 1, 2]

In [51]:
# 한번 더 삭제해봅시다.
numbers.remove(1)

In [52]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.
numbers.remove(1)

ValueError: list.remove(x): x not in list

### `.pop(i)`

**정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.**

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [58]:
# pop을 사용해봅시다.
numbers = [1, 2, 3, 4, 5, 6]
numbers.pop()
print(numbers)

[1, 2, 3, 4, 5]

In [57]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.
numbers.pop(0)

1

In [61]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다. 
num = numbers.pop(0)
print(num)

2

In [62]:
print(numbers)

[3, 4, 5]

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [63]:
# index를 사용해봅시다.
numbers = [1, 2, 3, 4, 5]
print(numbers.index(3))

2

In [65]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)\
numbers.index(8)

ValueError: 8 is not in list

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [85]:
# count를 사용해봅시다.
numbers = [1, 2, 5, 1, 5, 1]
numbers.count(1)

3

In [86]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.
n = 1
# for i in range(numbers.count(n)):
#     numbers.remove(n)

# print(numbers)

def delete_all(lst, n):
    while n in lst:
        lst.remove(n)
    
delete_all(numbers, n)
print(numbers)

[2, 5, 5]

In [84]:
# 모두 삭제되었는지 검증해봅시다.
while 5 in numbers:
    numbers.remove(5)

print(numbers)

[2, 1]

### `.sort()`

정렬을 합니다. 

`sorted()`와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [87]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[18, 32, 4, 8, 1, 3]

In [89]:
# sort를 사용해봅시다.
lotto.sort() # destructive
sorted(lotto) # non-destructive

[1, 3, 4, 8, 18, 32]

### `reverse()`

반대로 뒤집습니다. (정렬 아님)

In [93]:
classroom = ['Tom', 'David', 'Justin']
print(reversed(classroom))
print(classroom.reverse())
print(classroom)

<list_reverseiterator object at 0x0000018A35FE8358>
None
['Justin', 'David', 'Tom']

## 복사

In [ ]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [ ]:
# b의 값을 바꾸고 a를 출력해봅시다.

In [ ]:
# id 값을 확안해봅시다.

In [ ]:
# 숫자를 확인해봅시다.

In [ ]:
# 딕셔너리도 확인해봅시다.

### copy
> [pythontutor](http://pythontutor.com/visualize.html#code=lunch%20%3D%20%7B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%3A%20'%EC%B9%98%EC%A6%88%EB%9D%BC%EB%A9%B4',%20'%EA%B9%80%EA%B0%80%EB%84%A4'%3A%20'%EC%A0%9C%EC%9C%A1%EB%B3%B6%EC%9D%8C'%7D%0Aprint%28lunch%29%0Adinner%20%3D%20lunch%0Adinner%5B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%5D%20%3D%20'%EC%B0%B8%EC%B9%98%EA%B9%80%EB%B0%A5'%0Aprint%28lunch%29&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false)를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [97]:
# 리스트를 복사해봅시다.
num = [1,2,3]

num2 = num

num2[0] = 0

# 1번 복사 방법
num3 = num[:] # operator 이용

num2[1] = 1

print(num3)
print(num)

[0, 2, 3]
[0, 1, 3]

In [ ]:
# 다른 방법으로 복사해봅시다.
a = [1, 2, 3]
b = list(a) # method 이용

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 **얕은 복사(shallow copy)입니다.**

In [98]:
# 2차원 배열을 복사해봅시다.
matrix = [
    [1, 2, 3],
    [4, 5, 6]
]
matrix[1][1]

matrix2 = matrix[:]

matrix2[0][0] = 0

5

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [100]:
# 깊은 복사를 사용해봅시다.
import copy
matrix3 = copy.deepcopy(matrix)

matrix3[0][0] = 0

print(matrix)
print(matrix3)

[[1, 2, 3], [4, 5, 6]]
[[0, 2, 3], [4, 5, 6]]

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [101]:
# clear를 사용해봅시다.
numbers = list(range(30))
print(numbers)
numbers.clear()
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
[]

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [106]:
numbers = range(1, 11)
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [104]:
# 기존의방법
for idx in range(len(numbers)):
    numbers[idx] = numbers[idx]**3
numbers

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [107]:
# List Comprehension
cubic_lst = [item**3 for item in numbers]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
numbers = range(1, 11)

In [109]:
# 기존의방법
even_lst = []
for num in numbers:
    if num % 2 == 0:
        even_lst.append(num)
print(even_lst)

[2, 4, 6, 8, 10]

In [108]:
# List Comprehension
even_lst = [num for num in numbers if num % 2 == 0]
print(even_lst)

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [134]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [137]:
# List comprehension을 활용하여 만들어주세요.
pair_lst = [(boy, girl) for girl in girls for boy in boys]
print(pair_lst)

[('justin', 'jane'), ('david', 'jane'), ('kim', 'jane'), ('justin', 'iu'), ('david', 'iu'), ('kim', 'iu'), ('justin', 'mary'), ('david', 'mary'), ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [132]:
# List comprehension을 활용하여 만들어주세요.
pita = [(x,y,z) for x in range(1,50) for y in range(1,50) for z in range(1,50) if x < y and y < z if x**2 + y**2 == z ** 2]
pita2 = [(x,y,z) for x in range(1,50) for y in range(x+1,50) for z in range(y+1,50) if x**2 + y**2 == z ** 2]
print(pita)
print(pita2)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [121]:
# List comprehension을 활용하여 만들어주세요.
words = 'Life is too short, you need python!'
new_words = ''.join([word for word in words if word not in 'aeiouAEIOU'])
print(new_words)

['L', 'f', ' ', 's', ' ', 't', ' ', 's', 'h', 'r', 't', ',', ' ', 'y', ' ', 'n', 'd', ' ', 'p', 'y', 't', 'h', 'n', '!']
Lf s t shrt, y nd pythn!

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [156]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [157]:
# 딕셔너리에 없으면 에러가 발생합니다
my_dict.pop('apple')
my_dict

{'banana': '바나나'}

In [158]:
# 두번째 인자로 default를 설정할 수 있습니다
my_dict.pop('apple', '키 없음')

'키 없음'

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [163]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict.update(apple='사과와아아', banana='bananaaa', melon='meloooon')
my_dict
my_dict['apple'] = 'apple이에요'
print(my_dict)

# change dict
change_dict = {'apple': '사과아아', 'banana': '바나나아아아', 'melon': '멜론로로로론'}
my_dict.update(change_dict)
my_dict

{'apple': 'apple이에요', 'banana': 'bananaaa', 'melon': 'meloooon'}

{'apple': '사과아아', 'banana': '바나나아아아', 'melon': '멜론로로로론'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [165]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
print(my_dict.get('pineapple'))
print(my_dict['pineapple'])

None

KeyError: 'pineapple'

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다.

In [167]:
# dictionary comprehension
cubic_dict = {x: x**3 for x in range(1, 11)}
print(cubic_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

### dictionary comprehension 사용해보기

In [168]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [169]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}
{k: v for k,v in dusts.items() if v > 80}

{'대전': 82, '중국': 200}

In [180]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.
{k:'나쁨' if v > 80 else '보통' for k, v in dusts.items()} # else를 사용하게 되면 if문이 for문 앞으로 튀어나올 수 있다

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [182]:
# elif 도 사용할 수 있습니다.
{k:'매우 나쁨' if v > 150 else '나쁨' if v > 80 else '보통' if v > 30 else '좋음' for k, v in dusts.items()}

{'서울': '보통', '대전': '나쁨', '구미': '좋음', '광주': '보통', '중국': '매우 나쁨'}

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [184]:
# add를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.add('천도복숭아')
fruits.add('자두')
print(fruits)

{'수박', '바나나', '사과', '자두', '천도복숭아'}

### `update(*others)`

여러가지의 값을 추가합니다.

**여기서 반드시 iterable한 값을 넣어야합니다.**

In [188]:
# update를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.update(('천도복숭아','자두'))
print(fruits)

{'수박', '바나나', '사과', '자두', '천도복숭아'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [189]:
# remove를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.remove('사과')
fruits

{'바나나', '수박'}

### `discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [151]:
# discard를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.discard('사과')
fruits

{'바나나', '수박'}

### `pop()`

임의의 원소를 제거해 반환합니다.

In [190]:
# pop을 사용해봅시다.
a = {"사과", "바나나", "수박", "아보카도"} # 임의의 값을 리턴하고 삭제
a.pop()

'수박'

##  `map()`, `zip()`, `filter()`

### `map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 map_object 형태로 됩니다.

In [208]:
numbers = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.
# def add_three(x):
#     return x + 3

# a3 = add_three
# a3(3)
cubic_numbers = [item ** 3 for item in numbers]
print(cubic_numbers)
str_number = [str(item ** 3) for item in numbers]
''.join(str_number)

list(map(str, numbers))

def my_cube(x):
    return x ** 3

list(map(my_cube, numbers))
# 1. 내가 적용하고자 하는 함수명, 호출 X // 함수는 단일인자를 갖는 함수여야 한다.
# 2.적용할 iterable(list, set, string, dictionary, range, tuple)

[1, 8, 27]

[1, 8, 27]

In [ ]:
# list comprehension

In [218]:
chars = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.
list(map(int, chars))

num_pair = [(5, 5), (10, 10), (100, 100)]

def add_pair(a, b):
    return a + b

list(map(add_pair, num_pair))

IndexError: tuple index out of range

In [ ]:
# list comprehension

* function은 사용자 정의 함수도 가능합니다.

In [ ]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

### `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [ ]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [226]:
# for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}
list(zip(girls, boys))

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

* 아래와 같이 사용가능하다.

In [224]:
a = '123'
b = '567'

for digit_a, digit_b in zip(a, b):
    print(digit_a, digit_b)

1 5
2 6
3 7

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [227]:
num1 = [1, 2, 3]
num2 = ['1', '2']
list(zip(num1, num2))

[(1, '1'), (2, '2')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [228]:
from itertools import zip_longest
list(zip_longest(num1, num2, fillvalue=0))

[(1, '1'), (2, '2'), (3, 0)]

### `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [ ]:
# 짝수인지 판단하는 함수를 작성해봅시다.

In [220]:
def even(n):
    return not n%2

In [223]:
# 다음의 list comprehension과 동일하다.
numbers = list(range(31))
evens = [num for num in numbers if not num % 2]

print(evens)
list(filter(even,numbers))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [147]:
# set comprehension
import requests
url = 'http://composingprograms.com/shakespeare.txt'

res = requests.get(url)
novel = res.text
words = novel.split(' ')

print({word for word in words if len(word) >= 3 and word == word[::-1]})

print(res)

{'non', 'sees', 'noon', 'did', 'dad', 'rever', 'minim', 'ewe', 'esse', 'wow', 'madam', 'eve', 'nun', 'tut', 'gig', 'elle', 'ecce', 'eye', 'pap', 'mum', 'eke', 'pip', 'level', 'viv', 'redder', 'bob', 'refer', 'peep', 'ere', 'poop', 'deed'}
<Response [200]>